*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: #F5F3F1;
    color: #181D24;
}

/* Navbar */
nav {
    background: rgba(30, 40, 55, 0.5);
    color: white;
    padding: 1rem 12rem;
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brand {
    font-size: 1.2rem;
    font-weight: 200;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}

#nav-links {
    display: flex;
    list-style: none;
    font-family: "Rufina", serif;
    font-weight: 400;
    letter-spacing: 1px;
}

#nav-links li {
    margin-left: 2rem;
}

#nav-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: color 0.2s ease-in-out;
}

#nav-links a:hover {
    color: #ddd;
}

.nav-toggle {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.nav-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
    border-radius: 2px;
}

/* --- Responsive Navbar--- */
@media (max-width: 768px) {
    nav{
        padding: 1rem;
    }
    .nav-toggle {
        display: block;
    }

    #nav-links {
        display: none;
        
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-top: 1rem;
    }

    #nav-links.active {
        display: flex;
    }

    #nav-links li {
        margin: 0.5rem 0; 
    }
}

/* Hero Section */
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(resources/hero.png);
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    color: white;
    font-family: "Rufina", serif;
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero h2{
    color: #C9BDAB;
    padding: 0.4rem 2rem; 
    background-color: #FFFFFF;
    border-radius: 2px;
    border-bottom-right-radius: 1rem;

    font-weight: 300;
    font-size: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero a{
    cursor: pointer;
    margin-top: 3rem;
    padding: 0.5rem 2.5rem; 

    border: 2px solid #ffffff;
    background-color: rgba(30, 40, 55, 0.3);
    border-radius: 2px;
    border-bottom-right-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 200;

    transition: color 0.75s ease, background-color 0.75s ease, font-weight 0.75s ease;
}

.hero a:hover{
    background-color: #ffffff;
    color: #C9BDAB;
    font-weight: 400;
}


/* Villas Section */
.villas{
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.villas-heading{
    font-family: "Rufina", serif;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.villas-tagline{
    font-size: 0.8rem;
    text-align: center;
    width: 50rem;
    margin-bottom: 4rem;
}

.listings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex-wrap: wrap;
}

/* Propoerty Cards */
.property{
    cursor: pointer;
    background-color: #FEFEFE;
    width: 400px;
    height: 560px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.4rem;
    border-bottom-right-radius: 1.5rem;
    overflow: hidden;
    transition: box-shadow 1s, height 1s, width 1s;
}
.propimg{
    width: 100%;
    height: 396px;
    background-color: #181D24;
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 1.8rem;
}

.propimg p{
    margin: 15px;
    padding: 10px 15px;
    background-color: #F5E9D6;
    display: inline-block;
    border-radius: 5px;
    border-bottom-right-radius: 15px;
    border-bottom: 5px solid #918675;
}
.propimg p span{
    font-weight: bold;
}
.villa-desc{
    padding: 1rem 1.5rem;
}

.villa-desc h1{
    font-family: "Rufina", serif;
    margin: 10px 0;
}

.villa-desc h5{
    font-weight: normal;
}
.villa-desc h5 span{
    font-weight: bold;
}

.desc-container{
    display: flex;
    gap: 50px;
    margin-top: 0.8rem;
}
.desc{
    display: flex;
    gap: 10px;
}
.desc img{
    height: 20px;
}
.desc span{
    font-weight: bold;
}

/* Property Card Hover Animation */
.property:hover{
    width: 405px;
    height: 565px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* All Prop Card images */
.prop1-img{
    background-image: url(resources/prop1.png);
}

.prop2-img{
    background-image: url(resources/prop2.png);
}

.prop3-img{
    background-image: url(resources/prop3.png);
}

.prop4-img{
    background-image: url(resources/prop4.png);
}

.prop5-img{
    background-image: url(resources/prop5.png);
}

.prop6-img{
    background-image: url(resources/prop6.png);
}

.prop7-img{
    background-image: url(resources/prop7.png);
}

.prop8-img{
    background-image: url(resources/prop8.png);
}

.prop9-img{
    background-image: url(resources/prop9.png);
}

/* Load More button */
.villas a{
    color: #181D24;
    text-decoration: none;
    cursor: pointer;
    margin: 5rem 0 0 0;
    font-size: 1rem;
    font-weight: 400;
    transition: font-weight 1s, font-size 1s;
    
}
.villas a:hover{
    font-weight: 600;
    font-size: 1.2rem;
}


/* Our Regions */
.regions{
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C9BDAB;
    border-bottom-right-radius: 6rem;
}
.regions-heading{
    font-family: "Rufina", serif;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.regions-tagline{
    font-size: 0.8rem;
    text-align: center;
    width: 55rem;
    margin-bottom: 4rem;
}

.prop-types-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.prop-type{
    height: 410px;
    width: 475px;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: box-shadow 1s, height 1s, width 1s;
}

.prop-type:hover{
    height: 415px;
    width: 480px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.mountain-prop{
    background-image: url(resources/mountain-prop.png);
    border-bottom-left-radius: 3.5rem;
    border-top-right-radius: 3.5rem;
}

.seaside-prop{
    background-image: url(resources/seaside-prop.png);
    border-bottom-right-radius: 3.5rem;
    border-top-left-radius: 3.5rem;
}

.prop-type-desc{
    color: #ffffff;
    position: relative;
    top: 18.5rem;
    left: 2rem;
}

.prop-type-desc h3{
    font-family: "Rufina", serif;
    font-size: 2.5rem;
    font-weight: 300;
}

.prop-type-desc p{
    font-weight: 200;
}

.prop-type-desc p span{
    font-weight: bold;
}

/* Our Specialities */

.specialities{
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specialities-heading{
    font-family: "Rufina", serif;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.features-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 1rem 0;
}

.feature{
    padding: 3px 3rem;
}
.feature img{
    height: 2rem;
}
.feature h3{
    font-family: "Rufina", serif;
    font-size: 1.7rem;
    margin-top: 1rem;

}
.feature p{
    color: #5B656F;
    font-size: 0.8rem;
}
.feature-divider{
    border-right: 1px solid #C9BDAB;
}

/* Join as a Host */
.hosting{
    padding: 10rem 0;
    background-image: url(resources/hosting-bg.png);
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hosting-offer{
    padding: 4rem 1rem;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(255,255,255,0.7);

    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.hosting-heading{
    font-family: "Rufina", serif;
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

.hosting h5{
    margin-bottom: 0.5rem;
    color: #5B656F;
}

.hosting p{
    width: 80%;
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: 0.8rem;
}

.hosting button{
    cursor: pointer;
    width: 80%;
    padding: 0.8rem 0;
    background-color: #5B656F;
    border: 0;
    color: #ffffff;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    box-shadow: none;
    transition: width 1s, font-size 1s, box-shadow 1s;
}

.hosting button:hover{
    width: 85%;
    font-size: 0.95rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* About Us */
.about{
    padding: 6rem 12rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-heading{
    font-family: "Rufina", serif;
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

.about p{
    width: 85%;
    margin-bottom: 2rem;
}

.about h3{
    font-family: "Rufina", serif;
    text-align: center;
    background-color: #DFE3E7;
    padding: 1rem;
    font-weight: 400;
}

.about img{
    height: 35rem;
}

/* Contact */

.contact{
    padding: 6rem 12rem;
    display: flex;
    justify-content: space-between;


    background-image: url(resources/contact-bg.png);
    background-size: cover;
    background-position: center;

    border-bottom-right-radius: 6rem;

}

/* Contact-Div-1 */
.contact-details{
    background-color: rgb(24,29,36, 0.9);
    padding: 4rem 5rem;
    color: #ffffff;

    border-radius: 6px;
    border-top-right-radius: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-heading{
    font-family: "Rufina", serif;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.details-heading{
    color: #F5E9D6;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-bottom: 2.5rem;
}

.details-title{
    font-size: 14px;
    font-family: "Rufina", serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.details-data{
    font-size: 12px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-socials{
    display: flex;
    gap: 0.5rem;
}
.contact-socials img{
    width: 1.7rem;
}

/* Contact-div-2 */
.contact-form{
    background-color: rgb(225,225,225, 0.9);
    padding: 4rem 5rem;

    border-radius: 6px;
    border-bottom-right-radius: 4rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-row{
    display: flex;
    gap: 2rem;
}

.form-row .form-group {
    width: 100%;
}

.form-group label {
    display: block;
    font-size: 14px;
    line-height: 1.25rem;
    font-weight: 500;
    color: #5B656F;
}

input[type="text"],
input[type="email"],
textarea {
    background: none;
    border: none;
    border-bottom: 2px solid rgb(145, 149, 153);
    border-radius: 0;
    padding: 0.5rem 0;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #181D24;
}

textarea {
    resize: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    border-radius: 0.25rem;
}

.checkbox-container label {
    margin-left: 0.75rem;
    font-size: 14px;
    line-height: 1.25rem;
}

.checkbox-container a{
    color: #181D24;
}

.checkbox-container a:hover{
    color: #14171c;
    font-weight: 500;
}

.submit-button {
    padding: 0.7rem 2.5rem;
    border: 0;
    border-radius: 0.4rem;
    border-top-left-radius: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #5B656F;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #181D24;
}


/* Footer */

footer{
    padding: 6rem 12rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;
}

.footer-top-div{
    display: flex;
    justify-content: space-between;
}

.footer-desc{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-desc h1{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.footer-desc p{
    color: #5B656F;
    font-size: 12px;
    font-weight: 300;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 7.5rem;
}

.footer-contact h3{
    font-size: 14px;
}

.footer-contact p{
    font-size: 12px;
}

.footer-top-div img{
    width: 20px;
}


.footer-bottom-div{
    display: flex;
    justify-content: space-between;
}

.footer-bottom-div a{
    font-size: 10px;
    color: #181D24;
    text-decoration: none;
    font-weight: 300;
    margin-right: 2rem;
    transition: font-weight 1s ease-in, text-decoration 1s ease-in;
}

.footer-bottom-div a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.footer-bottom-div p{
    font-size: 10px;
    font-weight: 300;
}