*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: #F5F3F1;
    color: #181D24;
}

/* Navbar */
nav {
    background: rgba(30, 40, 55, 0.9);
    color: white;
    padding: 1rem 12rem;
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brand {
    font-size: 1.2rem;
    font-weight: 200;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}

#nav-links {
    display: flex;
    list-style: none;
    font-family: "Rufina", serif;
    font-weight: 400;
    letter-spacing: 1px;
}

#nav-links li {
    margin-left: 2rem;
}

#nav-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: color 0.2s ease-in-out;
}

#nav-links a:hover {
    color: #ddd;
}

.nav-toggle {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.nav-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
    border-radius: 2px;
}

/* --- Responsive Navbar--- */
@media (max-width: 768px) {
    nav{
        padding: 1rem;
    }
    .nav-toggle {
        display: block;
    }

    #nav-links {
        display: none;
        
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-top: 1rem;
    }

    #nav-links.active {
        display: flex;
    }

    #nav-links li {
        margin: 0.5rem 0; 
    }
}

/* Hero Section */
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(resources/hero.png);
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    color: white;
    font-family: "Rufina", serif;
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero h2{
    color: #C9BDAB;
    padding: 0.4rem 2rem; 
    background-color: #FFFFFF;
    border-radius: 2px;
    font-weight: 300;
    font-size: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero div{
    cursor: pointer;
    margin-top: 3rem;
    padding: 0.5rem 2.5rem; 

    border: 0.5rem solid #ffffff;
    background-color: #5B656F;
    border-radius: 5px;
}
.hero a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 100;
}


/* Villas Section */
.villas{
    padding: 6rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.villas-heading{
    font-family: "Rufina", serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.villas-tagline{
    font-size: 0.8rem;
    text-align: center;
    width: 50rem;
    margin-bottom: 3rem;
}

.listings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Propoerty Cards */
.property{
    cursor: pointer;
    background-color: #FEFEFE;
    width: 400px;
    height: 560px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.4rem;
    border-bottom-right-radius: 1.5rem;
    overflow: hidden;
    transition: box-shadow 1s, height 1s, width 1s;
}
.propimg{
    width: 100%;
    height: 396px;
    background-color: #181D24;
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 1.8rem;
}

.propimg p{
    margin: 15px;
    padding: 10px 15px;
    background-color: #F5E9D6;
    display: inline-block;
    border-radius: 5px;
    border-bottom-right-radius: 15px;
    border-bottom: 5px solid #918675;
}
.propimg p span{
    font-weight: bold;
}
.villa-desc{
    padding: 1rem 1.5rem;
}

.villa-desc h1{
    font-family: "Rufina", serif;
    margin: 10px 0;
}

.villa-desc h5{
    font-weight: normal;
}
.villa-desc h5 span{
    font-weight: bold;
}

.desc-container{
    display: flex;
    gap: 50px;
    margin-top: 0.8rem;
}
.desc{
    display: flex;
    gap: 10px;
}
.desc img{
    height: 20px;
}
.desc span{
    font-weight: bold;
}

/* Property Card Hover Animation */
.property:hover{
    width: 405px;
    height: 565px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* All Prop Card images */
.prop1-img{
    background-image: url(resources/prop1.png);
}